__pycache__/
*.pyc
.venv/
venv/
env/
.env
.streamlit/secrets.toml

outputs/
*.log

.DS_Store
Thumbs.db

Data/BDG2/
Data/NREL_EULP/
Data/CAD_BATI3D_BASE-CSV/
Data/CAD_BATI3D_BASIC_FACADE-CSV/
Data/CAD_BATI_PROJET-CSV/
Data/Climat_Villes_Hourly/
Data/raw/
Data/calibration_typologie/
Tools/geneve_batiments_nettoyes_k
Tools/ajuster_coef_froid/
Tools/calibration_froid/
Archives/
Screenshots/
outputs/
__pycache__/
*.pyc
.venv/
venv/
env/
.vscode/